@page "/Habitatges/{id}"
@model HabitatgesDetallModel
@{
    ViewData["Title"] = "Habitatges Detall";

}

<p>Detall habitatge @Model.Id</p>

@if (Model.HabitatgeSeleccionat is not null)
{
    <p> ID: @Model.HabitatgeSeleccionat?["identificador"]</p>
    <p> Adreça: @Model.HabitatgeSeleccionat?["adreca"]</p>
    <p> Poblacio: @Model.HabitatgeSeleccionat?["poblacio"]</p>
    <p> CP: @Model.HabitatgeSeleccionat?["codiPostal"]</p>
    <p>Tipus: @Model.HabitatgeSeleccionat?["tipusImmoble"]</p>
    <p>M2:@Model.HabitatgeSeleccionat?["metresQuadrats"]</p>
    <p>Residants: @Model.HabitatgeSeleccionat?["habitants"]</p>
    <p>Menors: @Model.HabitatgeSeleccionat?["numMenors"]</p>
    <p>Contribuent: @Model.HabitatgeSeleccionat?["nomContribuent"]</p>
}
else
{
    <p>No s'ha trobat l'habitatge.</p>
}
